[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
[submodule "range-v3"]
	path = range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
